[submodule "Week7_Q1/lib/openzeppelin-contracts"]
	path = Week7_Q1/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Week8_Q2/lib/openzeppelin-contracts"]
	path = Week8_Q2/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Week9/lib/openzeppelin-contracts"]
	path = Week9/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Week9/lib/erc721a"]
	path = Week9/lib/erc721a
	url = https://github.com/chiru-labs/erc721a
[submodule "Week12/lib/compound-protocol"]
	path = Week12/lib/compound-protocol
	url = https://github.com/compound-finance/compound-protocol
[submodule "Week12/lib/openzeppelin-contracts"]
	path = Week12/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Week12/lib/aave-v3-core"]
	path = Week12/lib/aave-v3-core
	url = https://github.com/aave/aave-v3-core
[submodule "Week12/lib/v3-periphery"]
	path = Week12/lib/v3-periphery
	url = https://github.com/uniswap/v3-periphery
[submodule "Week12/lib/v3-core"]
	path = Week12/lib/v3-core
	url = https://github.com/uniswap/v3-core
